* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    color: #333;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(1, 152, 122);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(221, 221, 221);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(1, 152, 122);
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

tr:hover {
    background-color: rgb(239, 239, 239);
}

td {
    font-size: 16px;
}
