html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #4CAF50;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
