* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    width: 80%;
    padding: 50px 60px 50px;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 8px;
}

p {
    margin: 0;
}
