.jet-li h1 {
    font-family: 'Lucida Sans', sans-serif;
    font-weight: 600;
    color: #00bfff;
    text-transform: uppercase;
    font-size: 3.2rem;
  }
  
  .jet-li p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #333;
    font-size: 1.1rem;
  }
  